@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hoşgeldiniz</h1>
    <p class="lead"> Kütüphanemizde ki kitapları görebilmek için lütfen kayıt olunuz , üyeyseniz giriş yapınız.</p>

</div>

